@using EPiServer.Shell.Navigation

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    @Html.Raw(Html.CreatePlatformNavigationMenu())

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
</head>
<body>

<div @Html.ApplyPlatformNavigation()>
    <div class="container">
        @RenderBody()
    </div>
</div>
</body>
</html>