@model dynamic

@{
    ViewBag.Title = "CMS Addon Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>My Title</h2>
        </div>
        <div class="col-md-12">
            <br/>
            My Content
        </div>
    </div>
</div>